*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.firstpage{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 55%;
    position: relative;
    top: 55px;
    gap: 25px;

    
}
.secondpage{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 60px;
    background-color: #fafafa;
}
.imgcontainer{
    display: block;
    margin: auto;
    position: relative;
    z-index: 2;
    width: 30%;
   /* top: 55px; */
   color: black;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 70px; */
    gap: 15px;
}
.list p{
    font-size: 13.5px;
    font-weight: 500;
    color: black;
}
.contact{
    position: relative;
    left: 50px;
    color:#333333;
    font-size:20px;
    font-weight: 600;
    line-height: 20px;
}
.email{
    width: 80%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px; 
}
.check{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50px;
    gap: 10px;
}
.box{
    font-size: 15.5px;
    font-weight: 400;
    color: black; 
}
.foraddress{
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Address{
    position: relative;
    left: 50px;
    color:#333333;
    font-size:19px;
    font-weight: 600;
    line-height: 20px;
}
#country{
    width: 80%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
.forname{
    display: flex;
    flex-direction:row;
    gap: 10px;
}
.forarea{
    display: flex;
    flex-direction:row;
    gap: 10px;
}
.name{
    position: relative;
    left: 50px;
    width: 39%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
.name1{
    position: relative;
    left: 50px;
    width: 26%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
.company{
    width: 80%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
.addy{
    width: 80%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
.apt{
    width: 80%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
#phone{
    width: 80%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px;
}
.forreturn{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50px;
    gap: 300px;
}
.buy{
    width: 25%;
    height: 40px;
    border-radius: 7px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    bottom: 10px;
}
.cartt{
       position: relative;
       top: 10px;
        color: black;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
    }
    hr{
        position: relative;
        top: 20px;
        font-size: 35px;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
        left: 60px;
        top: 10px;
    }
    li{
        list-style: none;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
    }

    .forside{
        position: relative;
        top: 55px;
        display: flex;
        flex-direction: row;
        gap: 60px;
       
    }
    .forimage{
        display: flex;
        flex-direction: row;
    }
    button{
        background-color: gray;
        color: #333333;
        position: relative;
        left: 40px;
        height: 20px;
        bottom: 7px;
        width: 20px;
        border-radius: 50%;
        font-size: 13px;
        border: none;
        
    }
    
    
    .sideimage{
        border-radius: 10px;
        position: relative;
        left: 50px;
    }
    .forword span{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 500;
    }
    .fordiscount{
        display: flex;
        flex-direction:row ;
        gap: 30px;
    }
    .discount{
        width: 50%;
    position: relative;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333;
    font-size: 15px; 
    }
    .apply{
        width: 20%;
        height: 40px;
        border-radius: 7px;
        background-color:#c8c8c8;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -2px;
    }
    .lastly{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sub{
        display: flex;
        position: relative;
        /* left: 50px; */
        flex-direction: row;
        margin-left: 50px;
        gap: 220px;
    }
    .ship{
        display: flex;
        position: relative;
        /* left: 50px; */
        flex-direction: row;
        margin-left: 50px;
        gap: 200px;
    }
    .total{
        display: flex;
        position: relative;
        top: 20px;
       margin-left: 50px;
       
        flex-direction: row;
        gap: 220px;
    }
    
@media only screen and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         margin-left: 0px;
         padding-left: 0px;
         padding: 0px;
         left: 0px;
         padding-top: 0px;
    }
    body{
        height: 100vh;
        width: 100vw;
    }
    .secondpage{
        display: none;
    }
    .firstpage{
        width: 100%;
    }
}

    @media only screen and (max-width:480px){
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
             margin-left: 0px;
             padding-left: 0px;
             padding: 0px;
             left: 0px;
             padding-top: 0px;
        }
        body{
            height: 100vh;
            width: 100vw;
        }
        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        
        }
        .firstpage{
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 55%;
            position: relative;
            top: 55px;
            gap: 25px;
        
            
        }
        .secondpage{
            display: none;
            flex-direction: column;
            width: 100%;
            height: 45%;
            gap: 60px;
            background-color: #fafafa;
        }
        .forreturn{
            display: flex;
            flex-direction: row;
            position: relative;
            left: 50px;
            gap: 50px;
        }
        .buy{
            width: 25%;
            height: 40px;
            border-radius: 7px;
            background-color: black;
            color: #fff;
            font-size: 10px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
            position: relative;
            bottom: 3px;
        }
        ul{
            display: flex;
            
            /* justify-content: center;
            align-items: center; */
            flex-wrap: wrap;
            gap: 15px;
            position: relative;
            top: 10px;
        }
        li{
            list-style: none;
            font-size: 10px;
            font-weight: 500;
            cursor: pointer;
        
    }
}
